@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,600;0,6..12,800;1,6..12,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: (0, 0%, 98%);
  color: #111517;
  font-family: 'Nunito Sans', sans-serif;
  color: hsl(200, 15%, 8%);
  overflow-x: hidden;
}


#dark{
  background-color: hsl(207, 26%, 17%);
  color: #fff;
  box-shadow: 0 0 1em ;
}

#light{
  background-color: #fff;
  color: #111517;
}

#dark .link{
  color: #fff;
}

#dark .country{
  background-color: #2b3945;
  box-shadow: 0 0 1em #2b3945;
}

#dark select{
  box-shadow: 0 0 1em #2b3945;
  background-color: #2b3945;
  color: #fff;
}

#dark input{
  background-color: #2b3945;
  color: #fff;
  box-shadow: 0 0 1em #2b3945;
}

#dark button{
  display: none;
}

#dark .nav{
  background-color: #2b3945;
  color: #fff;
  box-shadow: 0 0 1em #2b3945;
}

.dark-mode{
  background-color: hsl(207, 26%, 17%);
  color: #fff
}

#dark .back a{
  color: #fff;
  background-color: #2b3945;
  box-shadow: 0 0 1em #2b3945;
  
}

#dark .error h4{
  color: #fff;
}

#dark .error a{
  background-color: #2b3945;
  color: #fff;
  box-shadow: 0 0 1em #2b3945;

}

.dark-mode.links{
  color: #fff;
}

.light-button{
  display: flex;
  align-items: center;
  gap: 0.6rem;
  display: none;
}

.light-button span{
  font-size: 1.7rem;
  font-weight: 700;
}

.light-button img{
  width: 2rem;
}

#dark h3{
  box-shadow: 0 0 1em #2b3945;
  background-color: #2b3945;
}

/*********** NAVIGATION *************/

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 6rem;
  box-shadow: 0 0 1em #ced4da;
}

.nav h3{
  font-weight: 700;
  font-size: 2.3rem;
}

.dark-button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.dark-button img{
  width: 2rem;
}

.dark-button span{
  font-size: 1.7rem;
  font-weight: 700;
}

.countries-content{
  padding: 5rem 6.5rem;
}

.countries-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 8rem;
}

.countries-container a{
  color: #111517;
  text-decoration: none;
}

.country{
  box-shadow: 0 0 1em #ced4da;
}

.country img{
  width: 100%;
  padding-bottom: 1rem;
  height: 18rem;
  object-fit: cover;
}

.country-info{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}

.country p{
  font-size: 1.6rem;
  font-weight: 800;
}

.country p span{
  font-weight: 500;
  font-size: 1.5rem;
}

.country-component{
  padding: 5rem 5rem 4rem 5rem;
}

.info-content{
  padding-top: 5rem;
  display: flex;
  align-content: center;
  gap: 9rem;
}

.info-img{
  width: 40vw;
  height: 80rem;
}

.info-img img{
  width: 100%;
}

.data{
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.country-info h1{
  font-size: 2.3rem;
  font-weight: 800;
  padding-bottom: 3rem;
}

.data p{
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 0.8rem;
}

.data span{
  font-size: 1.5rem;
  font-weight: 500;
}

.back a{
  font-size: 1.6rem;
  color: #111517;
  text-decoration: none;
  font-weight: 800;
  background-color: #fff;
  box-shadow: 0 0 1em #ced4da;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 10rem;
}

.filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

select{
  padding: 1rem;
  color: #111517;
  font-size: 1.4rem;
  border: none;
  box-shadow: 0 0 1em #ced4da;
}

select:focus{
  border: none;
}

option{
  padding: 1rem;
}

.submit img{
  width: 2rem;
  padding-right: 0.5rem;
}

label{
  box-shadow: 0 0 1em #ced4da;
  padding: 1.2rem;
  display: flex;
  align-items: center;
}

input{
  border: none;
  width: 80%;
  height: 3rem;
  padding: 0.5rem;
}

input::placeholder{
  font-weight: 600;
}

input:focus{
  border: none;
  outline: none;
}

button{
  font-size: 1.5rem;
  border: none;
  background-color: #fff;
}

button:focus{
  outline: none;
  border: none;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-animation{
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  transform: translateY(-30rem);
}

.error{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error h4{
  font-size: 4rem;
  color: #111517;
  font-weight: 900;
  padding-bottom: 2rem;
}

.error a{
  padding: 2rem;
  box-shadow: 0 0 1em #ced4da;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: #111517;
}


@Media(max-width: 1000px){
  .countries-container{
    gap: 4rem;
  }

  .info-content{
    gap: 2rem;
  }

  .info-img{
    height: 120rem;
  }
}

@media(max-width: 800px){
  .countries-container{
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  .info-content{
    flex-direction: column;
  }

  .info-img {
    height: 100%;
  }
}

@media(max-width: 600px){
  .countries-container{
    gap: 3rem;
  }

  .info-img{
    width: 80vw;
  }
}

@media(max-width: 500px){
  .countries-container{
    grid-template-columns: 1fr;
  }

  .nav{
    padding: 2rem 2.4rem;
  }

  .filter{
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .countries-content{
    padding: 4rem 3rem;
  }

  .country-component{
    padding: 5rem 2rem 4rem 2rem 
  }

  input{
    display: flex;
    width: 100%;
  }

  label{
    width: 100%;
  }

  .data{
    flex-direction: column;
    gap: 5rem;
  }
}

@media(max-width: 450px){
  .nav h3{
    font-size: 2rem;
  }

  .dark-button span{
    font-size: 1.5rem;
  }

  .info-img{
    width: 90vw;
  }
}

@media(max-width: 390px){
  html{
    font-size: 60%;
  }
}